// Navigation code here
nav {
    .flexycentercolumn;
    background-color: @wild-sand;
    border-bottom: 1px solid @sea-shell;

    h1 {
        font-size: 4rem;
        padding: 14px 0%;
    }

    .nav-links {
        width: 30%;
        display: flex;
        justify-content: space-evenly;

        a {
        margin: 6px 0% 9px;
        font-size: 1.6rem;
        .textnormalizer;
        }
    }
}